streamlit #very easy frontend library

# utilities
numpy
pandas
scikit-learn #face recognition
dlib-bin #face recognition

#model(trained on millions of images) from github for face detection and for github models we have to install setuptools
git+https://github.com/ageitgey/face_recognition_models
setuptools==69.5.1
supabase #provied us database in free
bcrypt

segno #for qr code generating
pillow #helps in image preprocessing/resize and many more features

librosa  #load and edit audio files
resemblyzer #create embedding of voice
